{# ------------------------------------------------------- #}

{# PROJECT PAGE #}

{# ------------------------------------------------------- #}

{% import "templates/partials/hero.html" as hero %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% import "templates/partials/related.html" as related %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_attributes %}class="body-project header-white header-before header-absolute modal-off"{% endblock %}

{% block content %}

	{{ hero.with( undefined, undefined, item.hero_image ) }}

	<h1>{{ item.name }}</h1>

	<h3>{{ item.tagline }}</h3>

	<p>{{ item.summary }}</p>

	<p>{{ item.project_timeline }}</p>

	<ul>
	{% for collaborator in item.collaborators %}

		<li>{{ collaborator.name }}</li>

	{% endfor %}
	</ul>

	<p>{{ item.space.name }}</p>

	{{ item.body|safe }}

	{{ related.to( item ) }}

	{{ guideposts.back({url: url('articles'), name: "Articles" }) }}

{% endblock %}

{% block scripts_extra %}

{% endblock %}