{# ------------------------------------------------------- #}

{# PROJECTS PAGE #}

{# ------------------------------------------------------- #}

{% import "templates/partials/cards/project-cards.html" as projects %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% import "templates/partials/hero.html" as hero %}

{% import "templates/partials/nav.html" as nav %}

{% extends "templates/partials/base.html" %}


{% set pagename = "The Projects" %}

{% block title %}{% parent %} - {{ pagename }}{% endblock %}

{% block content %}

	{{ hero.with( pagename, cms.about.projects_page_callout, cms.about.projects_page_image ) }}

	{{ nav.from( 'Spaces', cms.spaces ) }}

	<section class="block bg-white padded" id="projects">
		<div class="container">
			<div class="row">
				{% for project in cms.projects %}
					{{ projects.expanded_card( project ) }}				
				{% endfor %}
			</div>
		</div>
	</section>

	{{ guideposts.back({url:'/', name: "Home"}) }}

{% endblock %}

{% block scripts_extra %}

{% endblock %}