{# ------------------------------------------------------- #}

{# DECK #}

{# partial #}

{# ------------------------------------------------------- #}

<section class="block" id="deck">
	<div class="deck-intro">
		<div class="vertical-center">
			<h1 class="medium din-bold centered m0">
				Rewriting <br/>
				The Library <br/>
				at Olin College
			</h1>
		</div>
	</div>
	<div class="slick slick-deck" id="deck-slick">
		<div class="deck-slide deck-slide-empty">
		</div>
		<div class="deck-slide">
			<div class="deck-slide-background block-background background-mask-dark" style="background-image: url('{{ cms.about.slideshow_start_image|imageSize(auto) }}')">
			</div>
			<div class="vertical-center">
				<h1 class="din-medium white slide-caption">{{ cms.about.slideshow_start_copy }}</h1>
			</div>
		</div>
		<div class="deck-slide">
			<div class="deck-slide-background block-background background-mask-dark" style="background-image: url('{{ cms.about.slideshow_start_image|imageSize(auto) }}')">
			</div>
			<div class="vertical-center">
				<a href="#" class="deck-play-video display-block centered">
					<span class="icon large white centered" data-icon="Ò"></span>
				</a>
			</div>
		</div>		
		<div class="deck-slide">
			<div class="deck-slide-inner">		
				<figure>
					<img src="{{ cms.about.first_floor_image|imageSize(auto) }}" />
				</figure>
				<figure>
					<img src="{{ cms.about.ground_floor_image|imageSize(auto) }}" />
				</figure>	
			</div>			
		</div>
		<div class="deck-slide">
			<div class="deck-slide-inner">
				<img src="{{ cms.about.slideshow_end_image|imageSize(auto) }}" />
				<h2 class="din-medium">{{ cms.about.slideshow_end_copy }}</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<nav class="hidden-xs" id="deck-nav">
			<ul>
				<li><a href="#">Our <br/>Mission</a></li><!--
				--><li><a href="#" class="active">Learn About <br/>The Project</a></li><!--
				--><li><a href="#">Explore The <br/>Library Spaces</a></li><!--
				--><li><a href="#">Meet <br/>Our Team</a></li><!--				
			--></ul>
		</nav>
	</div>	
</section>




