{# ------------------------------------------------------- #}

{# DECK #}

{# partial #}

{# ------------------------------------------------------- #}



<img src="{{ cms.about.slideshow_start_image|imageSize(auto) }}" />

{{ cms.about.slideshow_start_copy }}

<figure>
	<img src="{{ cms.about.first_floor_image|imageSize(auto) }}" />
</figure>

<figure>
	<img src="{{ cms.about.ground_floor_image|imageSize(auto) }}" />
</figure>

<img src="{{ cms.about.slideshow_end_image|imageSize(auto) }}" />

{{ cms.about.slideshow_end_copy }}


