{# ------------------------------------------------------- #}

{# FOOTER #}

{# partial #}

{# ------------------------------------------------------- #}

<footer class="block bg-medium padded" id="footer">
	<div class="container">
		<nav id="footer-nav" class="row border-bottom-light pb3">
			<div class="col-sm-6">
				<h4 class="border-bottom-light uppercase din-regular">The Library Spaces</h4>
				<ul>
					{% for space in cms.spaces %}
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>
						<li><a href="{{ url( space ) }}" class="din-medium">{{ space.name }}</a></li>						
						<li><a href="{{ url( space ) }}" class="din-medium">Needs Logic for splitting into two columns</a></li>
					{% endfor %}
				</ul>
			</div>		
			<div class="col-sm-3">
				<h4 class="border-bottom-light uppercase din-regular">The Projects</h4>
				<ul>
					{% for project in cms.projects %}
						<li><a href="{{ url( project ) }}" class="din-medium">{{ project.name }}</a></li>
						<li><a href="{{ url( project ) }}" class="din-medium">{{ project.name }}</a></li>
						<li><a href="{{ url( project ) }}" class="din-medium">{{ project.name }}</a></li>
						<li><a href="{{ url( project ) }}" class="din-medium">{{ project.name }}</a></li>
						<li><a href="{{ url( project ) }}" class="din-medium">{{ project.name }}</a></li>
						<li><a href="{{ url( project ) }}" class="din-medium">Needs logic to limit to n entries</a></li>
					{% endfor %}
					<li class="mt2"><a href="/projects" class="din-medium brand">See All Projects</a></li>
				</ul>
			</div>	
			<div class="col-sm-3">
				<h4 class="border-bottom-light uppercase din-regular">The Articles</h4>
				<ul>
					{% for article in cms.articles %}
						<li><a href="{{ url( article ) }}" class="din-medium">{{ article.name }}</a></li>
						<li><a href="{{ url( article ) }}" class="din-medium">{{ article.name }}</a></li>
						<li><a href="{{ url( article ) }}" class="din-medium">{{ article.name }}</a></li>
						<li><a href="{{ url( article ) }}" class="din-medium">{{ article.name }}</a></li>
						<li><a href="{{ url( article ) }}" class="din-medium">{{ article.name }}</a></li>
						<li><a href="{{ url( article ) }}" class="din-medium">Needs logic to limit to n entries</a></li>
					{% endfor %}
					<li class="mt2"><a href="/blog" class="din-medium brand">See All Articles</a></li>
				</ul>
			</div>										
		</nav>
		<nav class="row pt2 pb2">
			<div class="col-sm-5 col-sm-offset-1">
				<h5 class="m0">2015, Rewrite The Library</h5>
				<h5 class="m0">Olin College of Engineering</h5>
				<h5 class="mt1 mb0"><a href="/about">About</a></h5>
				<h5 class="m0"><a href="/contact">Contact</a></h5>
				<h5 class="m0"><a href="/contact">Donate</a></h5>				
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-2">
						<span class="icon" data-icon="m"></span>
					</div>
					<div class="col-sm-10">
						<h5 class="m0">
						The Library, Olin College<br/>
						ATTN: Jeff Goldenson<br/>
						Olin Way<br/>
						Needham, MA 02492
					</div>
				</div>
				<div class="row m1">
					<div class="col-sm-2">
						<span class="icon" data-icon="c"></span>
					</div>
					<div class="col-sm-10">
						<h5 class="mt0">
						xxx-xxx-xxxx
					</div>
				</div>
			</div>			
		</nav>
	</div>
</footer>