{# ------------------------------------------------------- #}

{# HEADER #}

{# partial #}

{# ------------------------------------------------------- #}

{% if item %} 

	{% set title = item %}

{% else %}

	{% for type in getTypes( true ) %}

		{% if url( type ) == getCurrentUrl() %}

			{% set title = type%}

		{% endif %}

	{% endfor %}

{% endif %}


<header id="header-olin">
	<div class="container">
		<a href="http://olin.edu" target="_blank">
			<img src="../static/images/logo-olin.png" alt="olin college logo"/>
		</a>
	</div>
</header>
<header class="before absolute" id="header-rwtl">
	<div class="container">
		<div class="row">
		<div class="col-xs-6 col-sm-4">
			<a href="/" class="header-rwtl-link" id="header-wrtl-link-home"><span>Rewrite the Library</span></a>
		</div>
		<div class="col-sm-4 hidden-xs">
			<a href="{{ url( title ) }}" class="header-rwtl-link centered" id="header-wrtl-link-page"><span>{{ title.name }}</span></a>
		</div>
		<div class="col-xs-6 col-sm-4">
			<a class="header-rwtl-link righted" href="#" id="header-wrtl-link-menu"><span>Menu</span></a>		
		</div>
	</div>

</header>