{# ------------------------------------------------------- #}

{# MACROS for HERO #}

{# ------------------------------------------------------- #}


{% macro with( title, description, image ) %}

	<section class="block hero {% if title == 'The Projects' %} hero-projects half {% elseif url( item ) == getCurrentUrl() %} hero-project {% else %} eighty-five {% endif %}">
		{% if url( item ) == getCurrentUrl() %} {# It's an individual page #}

			{% if item.project_images %}

				{% if item.project_images.length > 1 %}
					<div class="project-slick-broken project-slideshow project-hero-slideshow hero-slideshow hero-slick">
						<button class="slideshow-previous"></button>
						<div class="project-slideshow-track clearfix">
							{% for image in item.project_images %}
								<div class="project-slick-slide project-slide hero-slick-slide project-slide-{{ loop.index0 }}" style="z-index: {{ loop.index0 }};">
									<img src="{{ image|imageCrop(1440,720) }}" alt="slide" />
									<div class="background">
									</div>
								</div>
							{% endfor %}
						</div>
						<button class="slideshow-next"></button>
					</div>
				{% else %}
					<div class="hero-background block-background background-mask-dark" style="background-image: url('{{ image|imageSize(auto) }}');">
					</div>
				{% endif %}

				<div class="container">
					<div class="tag project-tag tag-white">
						<h4>{{ item.name }}</h4>
					</div>
				</div>

			{% endif %}	

		{% else %} {# It's a list page, or the about page #}

			<div class="hero-background block-background background-mask-light border-bottom" style="background-image: url('{{ image|imageSize(auto) }}');">
			</div>		
			<div class="hero-text vertical-center">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
							{% if title %}
								<h1 class="hero-title centered mb2"><span class="din-medium">{{ title }}</span></h1>
							{% endif %}
							<h2 class="hero-description centered din-regular">{{ description }}</h2>							
						</div>
					</div>
				</div>				
			</div>	

		{% endif %}
	</section>	

{% endmacro %}