{# ------------------------------------------------------- #}

{# MACROS for HERO #}

{# ------------------------------------------------------- #}


{% macro with( title, description, image ) %}

	<section class="block hero mt4-xs {% if title == 'The Projects' %} hero-projects {% elseif url( item ) == getCurrentUrl() %} hero-project {% else %} half {% endif %}">
		{% if url( item ) == getCurrentUrl() %} {# It's an individual page #}

				{% if item.project_images.length >= 1 %}
					<div class="project-slideshow project-hero-slideshow hero-slideshow">
						<button class="slideshow-previous"></button>
						<div class="project-slideshow-track clearfix">
							<div class="project-slide project-slide-0" style="z-index: 0;">
								<img src="{{ image|imageCrop(1440,720) }}" alt="slide" />
								<div class="background">
								</div>
							</div>

							{% for image in item.project_images %}
								<div class="project-slide project-slide-{{ loop.index }}" style="z-index: {{ loop.index }};">
									<img src="{{ image|imageCrop(1440,720) }}" alt="slide" />
									<div class="background">
									</div>
								</div>
							{% endfor %}
						</div>
						<button class="slideshow-next"></button>
					</div>
				{% endif %}

				<div class="container">
					<div class="tag project-title-tag tag-white">
						<h4>{{ item.name }}</h4>
					</div>
				</div>	

		{% else %} {# It's a list page, or the about page #}

			<div class="hero-background block-background background-mask-light border-bottom" style="background-image: url('{{ image|imageSize(auto) }}');">
			</div>		
			<div class="hero-text vertical-center">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
							{% if title %}
								<h1 class="hero-title centered mb2 visible-xs"><span class="din-medium">{{ title }}</span></h1>
							{% endif %}
							<h2 class="hero-description centered din-regular">{{ description }}</h2>							
						</div>
					</div>
				</div>				
			</div>	

		{% endif %}
	</section>	

{% endmacro %}