{# ------------------------------------------------------- #}

{# MENU SPACE PAGE #}

{# partial #}

{# ------------------------------------------------------- #}

<menu class="hidden">

	{% for space in cms.spaces %}

		<a href="{{ url( space ) }}">{{ space.name }}</a>

	{% endfor %}

	<br />
	
	{% for project in cms.projects %}

		<a href="{{ url( project ) }}">{{ project.name }}</a>



	{% endfor %}

	<br />

	{% for article in cms.articles %}

		<a href="{{ url( article ) }}">{{ article.name }}</a>

	{% endfor %}

</menu>