{# ------------------------------------------------------- #}

{# MACRO for RELATED #}

{# macro #}

{# ------------------------------------------------------- #}

{% import "templates/partials/cards/article-cards.html" as articles %}

{% import "templates/partials/cards/project-cards.html" as projects %}

{% macro to( item ) %}

	{% if item._type == "articles" %}
		{% set projects = item.related_projects %}

		{% set articles = [] %}

		{% for space in item.spaces %}

			{% set projects = merge( projects, space.projects_space ) %}
 
			{% set articles = merge( articles, space.articles_spaces ) %}

		{% endfor %}

		{% set projects = projects|uniq %}

		{% set articles = articles|exclude('name', item.name)|uniq %}


	{% elseif item._type == "projects" %}

		{% set projects = merge( item.related_projects, item.space.projects_space )|exclude('name', item.name ) %}

		{% set articles = merge( item.articles_related_projects, item.space.articles_spaces )|uniq  %}		

	{% endif %}


	{% if projects|size %}

		<div class="row">

			<div class="col-sm-12 centered-xs">
				<h4 class="uppercase mb3"><span class="border-bottom din-medium">Related Projects</span></h4>
			</div>

			{% for project in projects %}

				<div class="project-card-related project-card col-sm-3 col-md-2 col-xs-6">
					<a href="{{ url( project ) }}">
						<div class="project-card-tag tag">
							<h5 class="">{{ project.name }}</h5>
						</div>	
						<div class="project-card-image mt1">
							<img src="{{ project.hero_image|imageCrop(300,300) }}" class="bordered">
						</div>
					</a>
				</div>

			{% endfor %}

			{% if articles|size %}

			<div class="col-xs-12">
				<hr class="mt1 mb0 border-bottom">
			</div>

			{% endif %}

		</div>

	{% endif %}
	
	{% if articles|size %}

		<div class="row mt3">	

			<div class="col-sm-12 centered-xs">
				<h4 class="uppercase mb3"><span class="border-bottom din-medium">Related Articles</span></h4>
			</div>		

			{% for article in articles %}

				<div class="article-card-related article-card col-xs-12 mb2-xs col-sm-5 {% if (loop.index0 % 2) %} col-sm-offset-1 {% endif %}">
					<a href="{{ url( article ) }}">
						<div class="row">
							<div class="col-sm-12">
								<div class="tag">
									<h4>{{ article.name }}</h4>
								</div>
							</div>
						</div>
						<div class="article-card-metadata card-metadata row">
							<div class="col-xs-6">
								<ul>
								{% for category in article.categories %}
									<li><h5 class="article-card-category">{{ category.name }}{% if loop.index != article.categories|size %}, {% endif %}</h5></li>
								{% endfor %}
								</ul>
							</div>
							<div class="col-xs-6">
								<h5 class="righted article-card-author">{{ article.author.name }}</h5>		
							</div>
							<div class="col-xs-12">
								<div class="border-bottom thin"></div>
							</div>
						</div>
						<div class="row article-card-body">
							<div class="col-sm-11">
								<p>{{ article.above_the_fold }}</p>
							</div>
						</div>
					</a>
				</div>

			{% endfor %}

		</div>

	{% endif %}
		

{% endmacro %}