{% macro clippath( polygon, image ) %}

<svg id="clip-field" width="{{image.width}}" height="{{image.height}}">
<defs>
	<clipPath id="clipShape" transform="scale({{ image.width / image.height }})">
		{{ polygon|safe }}
	</clipPath>
</defs>

<image clip-path="url( #clipShape )" xlink:href="{{ image|imageSize(auto) }}" width="{{ image.width / 2 }}" height="{{ image.height / 2 }}"/>

</svg>

{% endmacro %}

{% macro shape( polygon ) %}

<svg>
<g class="svg-shape">
	{{ polygon|safe }}
</g>
</svg>

{% endmacro %}