@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('modernpictogramspro_234.eot');
    src: url('modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('modernpictogramspro_234.woff') format('woff'),
		url('modernpictogramspro_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: "SimplonNormLight";
	src: url('SimplonNorm-Light-WebS.eot');
	src: url('SimplonNorm-Light-WebS.eot?#iefix') format('opentype'),
		url('SimplonNorm-Light-WebS.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "SimplonNormMedium";
	src: url('SimplonNorm-Medium-WebS.eot');
	src: url('SimplonNorm-Medium-WebS.eot?#iefix') format('opentype'),
		url('SimplonNorm-Medium-WebS.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}
