{# ------------------------------------------------------- #}

{# SPACE PAGE #}

{# ------------------------------------------------------- #}


{% import "templates/partials/cards/project-cards.html" as projects %}

{% import "templates/partials/cards/article-cards.html" as articles %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}

{% block body_attributes %}class="body-space header-before header-absolute modal-off"{% endblock %}

{% block title %}{% parent %} - {{ item.name }} {% endblock %}

{% block content %}

	

	{% include "templates/partials/hero-space.html" %}

	<section class="block container">
	<div class="row">

	{% for project in item.projects_space %}

		<div class="col-sm-offset-2 col-sm-8">
		
		{{ projects.featured_card( project ) }}

		</div>

	{% endfor %}

	</div>
	</section>

	<section class="block container">
	<div class="row">

	{% for article in item.articles_spaces %}

		<div class="col-sm-offset-2 col-sm-8">

		{{ articles.featured_card( article ) }}

		</div>

	{% endfor %}
	
	</div>
	</section>

	{{ guideposts.back({url: '/spaces', name: 'Spaces'}) }}


{% endblock %}

{% block scripts_extra %}

{% endblock %}