{# ------------------------------------------------------- #}

{# SPACE PAGE #}

{# ------------------------------------------------------- #}


{% import "templates/partials/cards/project-cards.html" as projects %}

{% import "templates/partials/cards/article-cards.html" as articles %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}


{% block title %}{% parent %} - {{ item.name }} {% endblock %}

{% block content %}


	{% include "templates/partials/hero-space.html" %}


	{% for project in item.projects_space %}
		
		{{ projects.expanded_card( project ) }}

	{% endfor %}


	{% for article in item.articles_spaces %}

		{{ articles.expanded_card( article ) }}

	{% endfor %}
	

	{{ guideposts.back({url: '/spaces', name: 'Spaces'}) }}


{% endblock %}

{% block scripts_extra %}

{% endblock %}