{# ------------------------------------------------------- #}

{# SPACES PAGE #}

{# ------------------------------------------------------- #}

{% import "templates/partials/cards/space-cards.html" as spaces %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}

{% block body_attributes %}{% endblock %}

{% block title %}{% parent %} - Library Spaces{% endblock %}

{% block content %}

	{% include "templates/partials/hero-spaces.html" %}


	{# First Floor Display #}

	<figure width="200" height="200">
		<img src="{{ cms.about.first_floor_image|imageSize(auto) }}" />
	</figure>

	{% for space in cms.spaces %}

		<script type="text/javascript">console.log( {{ space|json }} ); </script>

	{% endfor %}
	
	{% for space in cms.spaces|where('floor', 'First Floor') %}

		{{ spaces.card( space ) }}

	{% endfor %}


	<figure width="200" height="200">
		<img src="{{ cms.about.ground_floor_image|imageSize(auto) }}" width="200" height="200" />
	</figure>

	{# Ground Floor Display #}

	{% for space in cms.spaces|where('floor', 'Ground Floor') %}

		{{ spaces.card( space ) }}

	{% endfor %}


	{{ guideposts.back({url: '/', name: 'Home'}) }}

{% endblock %}

{% block scripts_extra %}

{% endblock %}