{# ------------------------------------------------------- #}

{# MACROS for ARTICLES #}

{# ------------------------------------------------------- #}

{% macro card( article, zoom ) %}

	<a href="{{ url( article ) }}">

	<li data-sort-value="{{article.category.name|lower|replace(' ','-','g')}},*">

	{% if zoom == "featured" %}


		<h2>{{ article.name }}</h2>

		{% if ( article.override_publication_date ) %}
			{{ article.publish_date|date('M d Y') }}
		{% else %}
			{{ article.publish_date|date('M d Y') }}
		{% endif %}
		
		<h4>{{ article.author|json }}</h4>

		<img src="{{ article.hero_image|imageSize(auto) }}">

		<h2>{{ project.tagline }}</h2>

		<h2>{{ project.summary }}</h2>


	{% elseif zoom == "expanded" %}


		<h2>{{ article.name }}</h2>

		{% if ( article.override_publication_date ) %}
			{{ article.publish_date|date('M d Y') }}
		{% else %}
			{{ article.publish_date|date('M d Y') }}
		{% endif %}

		<h4>{{ article.author.name }}</h4>

		<img src="{{ article.hero_image|imageSize(auto) }}">

		<h2>{{ article.above_the_fold }}</h2>


	{% elseif zoom == "condensed" %}


		<h2>{{ article.name }}</h2>

		<img src="{{ article.hero_image|imageSize(auto) }}">


	{% endif %}

	</li>

	</a>

{% endmacro %}

{% macro featured_card( article ) %} {{ card( article, "featured" ) }} {% endmacro %}

{% macro expanded_card( article ) %} {{ card( article, "expanded" ) }} {% endmacro %}

{% macro condensed_card( article ) %} {{ card( article, "condensed" ) }} {% endmacro %}