{# ------------------------------------------------------- #}

{# MACROS for PEOPLE #}

{# ------------------------------------------------------- #}

{% macro card( person, zoom ) %}

	<div class="person card card-person card-person-{{ zoom }} col-xs-6 col-md-4 mb5">

		{% if person.website %}<a href="{{ person.website }}">{% endif %}

			{% if zoom == "expanded" %}

					<div class="tag">
						<h4>{{ person.name }}</h4>
					</div>
					<div class="person-card-metadata row card-metadata">
						<div class="col-sm-6">
							<h5 class="person-card-role">{{ person.role.name }}</h5>
						</div>
						<div class="col-sm-6">
							<h5 class="righted person-card-email">
								<a href="mailto:{{ person.email }}" target="_blank">
									<span class="icon" data-icon="m"></span>
								</a>
							</h5>		
						</div>
					</div>
					<div class="row person-card-body">
						<div class="col-sm-12">
							<img src="{{ person.image|imageSize(auto)}}" />
						</div>
						<div class="col-sm-12">
							<h6 class="din-regular person-card-stats">Needs logic for projects, articles</h6>
						</div>
					</div>

			{% elseif zoom == "condensed" %}

				<img src="{{ person.image|imageSize(auto)}}" />

			{% endif %}

		{% if person.website %}</a>{% endif %}

	</div>

{% endmacro %}



{% macro expanded_card( project ) %} {{ card( project, "expanded" ) }} {% endmacro %}

{% macro condensed_card( project ) %} {{ card( project, "condensed" ) }} {% endmacro %}