{# ------------------------------------------------------- #}

{# MACROS for PEOPLE #}

{# ------------------------------------------------------- #}

{% macro card( person, zoom ) %}

	<div id="{{ person.name|lower|replace(' ', '-', 'g') }}" class="person card card-person card-person-{{ zoom }} col-xs-6 col-md-4 mb5">

		{% if person.website %}<a href="{{ person.website }}">{% endif %}

			{% if zoom == "expanded" %}
					<div class='row'>
						<div class="col-sm-12">
							<div class=" tag"><h4>{{ person.name }}</h4></div>
						</div>
					</div>
					<div class="row person-card-metadata card-metadata">
						<div class="col-sm-6 col-xs-9">
							<h5 class="person-card-role">{{ person.role.name }}</h5>
						</div>
						<div class="col-sm-6 col-xs-3">
							<h5 class="righted person-card-email">
								<a href="mailto:{{ person.email }}" target="_blank">
									<span class="icon" data-icon="m"></span>
								</a>
							</h5>		
						</div>
					</div>
					<div class="row person-card-body">
						<div class="col-sm-12">
							<img src="{{ person.image|imageSize(auto)}}" />
						</div>
						<div class="col-sm-12">
							<h6 class="din-regular person-card-stats">
								{{ person.projects_collaborators|size }} Project{{ person.projects_collaborators|size|pluralize('s')}}, {{person.articles_author|size}} Article{{ person.articles_author|size|pluralize('s')}}
							</h6>
						</div>
					</div>

			{% elseif zoom == "condensed" %}

				<img src="{{ person.image|imageSize(auto)}}" />

			{% endif %}

		{% if person.website %}</a>{% endif %}

	</div>

{% endmacro %}



{% macro expanded_card( project ) %} {{ card( project, "expanded" ) }} {% endmacro %}

{% macro condensed_card( project ) %} {{ card( project, "condensed" ) }} {% endmacro %}