{# ------------------------------------------------------- #}

{# MACROS for PROJECTS #}

{# ------------------------------------------------------- #}

{% import "templates/partials/svg.html" as svg %}

{% macro card( project, zoom ) %}

	<div class="project-card card project-card-{{ zoom }} {% if zoom == "expanded" %} col-xs-12 col-sm-6 project-card-expanded {% endif %}" data-sort-value="{{ project.space.name|lower|replace(' ', '-', 'g')}},*">
		<a href="{{ url( project ) }}">

			{% if zoom == "featured" %}

				<div class="tag project-tag">
					<h4>{{ project.name }}</h4>
				</div>
				<div class="project-card-image">
					<img src="{{ project.hero_image|imageCrop(1024,400) }}">
				</div>
				<div class="project-card-text row">
					<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<h3 class="centered">{{ project.tagline }}</h3>
						<h4 class="centered">{{ project.summary }}</h4>						
					</div>
				</div>

			{% elseif zoom == "expanded" %}

				<div class="project-card-space hidden-xs">

					<svg>
						<g class="svg-shape">
							{{ project.space.inline_shape_svg|safe }}
						</g>
					</svg>			
					
				</div>

				<div class="tag">
					<h5>{{ project.name }}</h5>
				</div>
				<div class="project-card-metadata card-metadata row">
					<div class="col-xs-12">
						<h5 class="project-card-stats">
							{{ project.collaborators|size }} pe{{ project.collaborators|size|pluralize('rson', 'ople') }} 
							worked on this
							{% if project.project_start|date('m Y') == project.project_end|date('m Y')  %}

								during {{ project.project_start|date("F 'y") }}.

							{% else %}

								from {{ project.project_start|date("F 'y") }} to {{ project.project_end|date("F 'y") }}.

							{% endif %}
						</h5>
					</div>
				</div>				
				<div class="project-card-image">
					<img src="{{ project.hero_image|imageCrop(1024,540) }}" class="bordered">
				</div>
				<div class="project-card-text row">
					<div class="col-sm-9">
						<h4 class="">{{ project.tagline }}</h4>
					</div>
				</div>

			{% elseif zoom == "condensed" %}	
				
				<div class="project-card-image">
					<img src="{{ project.hero_image|imageCrop(300,300) }}" class="bordered">
				</div>
				<div class="project-card-text">
					<h6 class="din-regular">{{ project.name }}</h6>
				</div>						

			{% endif %}

		</a>
	</div>

{% endmacro %}


{% macro featured_card( project ) %} {{ card( project, "featured" ) }} {% endmacro %}

{% macro expanded_card( project ) %} {{ card( project, "expanded" ) }} {% endmacro %}

{% macro condensed_card( project ) %} {{ card( project, "condensed" ) }} {% endmacro %}