{# ------------------------------------------------------- #}

{# MACROS for SPACES #}

{# ------------------------------------------------------- #}

{% import "templates/partials/cards/project-cards.html" as projects %}

{% import "templates/partials/cards/article-cards.html" as articles %}

{% macro card( space ) %}	
	<div class="card space-card">
		<a href="{{ url( space ) }}">
			<div class="row mb1">

				<div class="col-xs-offset-4 col-xs-8 col-sm-offset-4 col-sm-6">
					<div class="tag">
						<h5>{{ space.name }}</h5>
					</div>
				</div>
					
			</div>
			<div class="row">

				<div class="col-xs-4 col-sm-3 col-sm-offset-1 space-card-plan">
					<figure width="200" height="200">
						<img src="{{ space.context_svg|imageSize(auto) }}" />
					</figure>
					<h6 class="centered din-regular">
						{{ space.projects_space|size }} Project{{ space.projects_space|size|pluralize() }}, 
						{{ space.articles_spaces|size }} Article{{ space.articles_spaces|size|pluralize() }}
					</h6>							
				</div>

				<div class="col-xs-8 col-sm-6">
					
					<p class="mb4 mt0">
						{{ space.description }}
					</p>
				</div>
				
			</div>


		</a>
	</div>
{% endmacro %}