{# ------------------------------------------------------- #}

{# ARTICLE PAGE #}

{# partial #}

{# ------------------------------------------------------- #}

{% import "templates/partials/guideposts.html" as guideposts %}

{% import "templates/partials/related.html" as related %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_attributes %}class="body-article body-individual header-white header-before header-absolute modal-off"{% endblock %}

{% block content %}

	{% if item.override_publication_date %}
		{{ item.override_publication_date|date('M d Y') }}
	{% else %}
		{{ item.publish_date|date('M d Y') }}
	{% endif %}

	<h1>{{ item.name }}</h1>

	<h3>{{item.author.name}}</h3>

	{{ item.body|safe }}

	{{ related.to( item ) }}

	{{ guideposts.back({url: url('articles'), name: "Articles" }) }}

{% endblock %}

{% block scripts_extra %}

{% endblock %}