{# ------------------------------------------------------- #}

{# ARTICLES PAGE #}

{# ------------------------------------------------------- #}

{% import "templates/partials/cards/article-cards.html" as articles %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% import "templates/partials/hero.html" as hero %}

{% import "templates/partials/nav.html" as nav %}

{% extends "templates/partials/base.html" %}


{% set pagename = "The Articles" %}

{% block title %}{% parent %} - {{ pagename }}{% endblock %}

{% block content %}
	
	{{ hero.with( pagename, cms.about.articles_page_callout, cms.about.articles_page_image ) }}

	{{ nav.from( 'Categories', cms.articlecategories ) }}

	<section class="block bg-white padded" id="list">
		<div class="container">
			<div class="row">
				{% for article in cms.articles %}
					{{ articles.expanded_card( article ) }}
					{{ articles.expanded_card( article ) }}
					{{ articles.expanded_card( article ) }}
					{{ articles.expanded_card( article ) }}
					{{ articles.expanded_card( article ) }}
					{{ articles.expanded_card( article ) }}
					
				{% endfor %}
			</div>
		</div>
	</section>

	{{ guideposts.back({url:'/', name: "Home"}) }}

{% endblock %}

{% block scripts_extra %}

{% endblock %}