{# ------------------------------------------------------- #}

{# 404 PAGE #}

{# This is the 404 page that will display on the live site for users. #}
{# It does not appear when you run your site locally. #}

{# ------------------------------------------------------- #}
{% extends "templates/partials/base.html" %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% block body_attributes %}class="page-404"{% endblock %}

{% block content %}

	<section id="header-404" class="">
		<div class="hero-background block-background background-mask-light border-bottom" style="background-image: url('{{ cms.the_404_image|imageSize(auto) }}');">
		</div>		
		<div class="hero-text vertical-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<span class="icon centered huge display-block" data-icon="¬"></span>
						<h2 class="hero-description centered din-regular">Oops. The page you're looking for is extinct.</h2>							
					</div>
				</div>
			</div>				
		</div>
	</section>

	<section id="site-introduction" class="block bg-white pt6 pb2">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
	                <h2 class="centered site-introduction-statement m0">Maybe you'd like to take a look at our <a href="/projects" class="brand border-bottom-brand din-medium">Projects</a> or read some of our <a href="/blog" class="brand border-bottom-brand din-medium">Articles</a><br class="visible-xs" />.</h2>
	            </div>
	        </div>
	    </div>
	</section>

	{{ guideposts.callout() }}

{% endblock %}
