{% import "templates/partials/hero.html" as hero %}

{% import "templates/partials/cards/people-cards.html" as person %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - About {% endblock %}

{% block content %}

  {{ hero.with( undefined, cms.about.about_page_tagline, cms.about.about_page_hero_image ) }}

  {{ cms.about.about_page_teammembers_intro }}

  {% for teammember in cms.about.teammembers %}

    {{ person.expanded_card( teammember ) }}

  {% endfor %}

  {{ cms.about.about_page_call_to_action }}

  {{ guideposts.callout() }}
  
{% endblock %}


{% block scripts_extra %}

{% endblock %}