{% import "templates/partials/hero.html" as hero %}

{% import "templates/partials/cards/people-cards.html" as person %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - About {% endblock %}

{% block content %}

  {{ hero.with( undefined, cms.about.about_page_tagline, cms.about.about_page_hero_image ) }}

  <section class="block bg-white padded" id="about-introduction">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-8 col-sm-offset-2">
  				<h2 class="centered">
  					{{ cms.about.about_page_description }}
				</h2>
  			</div>
  			<div class="col-sm-5 col-sm-offset-1">
  				<p>
  				Field needed in CMS for this.
  				Lorem ipsum Commodo voluptate deserunt laboris ea ut minim sed nostrud Ut tempor exercitation nulla dolor pariatur.
  				</p>
  			</div>
  			<div class="col-sm-5">
  				<p>
  				Field needed in CMS for this.
  				Lorem ipsum Commodo voluptate deserunt laboris ea ut minim sed nostrud Ut tempor exercitation nulla dolor pariatur.
  				</p>
  			</div>  			
  		</div>
  	</div>
  </section>

  <section class="block bg-white padded" id="about-team">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-10 col-sm-offset-1">
  				<h2 class="centered mb3">
  					{{ cms.about.about_page_teammembers_intro }}
				</h2>
  			</div>			
  		</div>
    	<div class="row">
		  {% for teammember in cms.about.teammembers %}
		    {{ person.expanded_card( teammember ) }}
		    {{ person.expanded_card( teammember ) }}
		    {{ person.expanded_card( teammember ) }}
		    {{ person.expanded_card( teammember ) }}
		    {{ person.expanded_card( teammember ) }}
		  {% endfor %}  						
  		</div>		
  	</div>
  </section>  

  <section class="block-bg-white pt2 pb2" id="about-call-to-action">
	<div class="container">
  		<div class="row">
  			<div class="col-sm-10 col-sm-offset-1">
  				<h2 class="centered">
 					{{ cms.about.about_page_call_to_action }}
				</h2>
  			</div>			
  		</div>
  	</div>  	
  </section>

  {{ guideposts.callout() }}
  
{% endblock %}


{% block scripts_extra %}

{% endblock %}