{% import "templates/partials/cards/people-cards.html" as person %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - About {% endblock %}

{% block content %}

  {{ cms.about.about_page_tagline }}

  <br /><br />

  {{ cms.about.about_page_description }}

  <br /><br />

  {{ cms.about.about_page_teammembers_intro }}

  <br /><br />

  {% for teammember in cms.about.teammembers %}

    {{ person.expanded_card( teammember ) }}

  {% endfor %}

  <br /><br />

  {{ cms.about.about_page_call_to_action }}

  {{ guideposts.callout() }}
  
{% endblock %}


{% block scripts_extra %}

{% endblock %}