{# ------------------------------------------------------- #}

{# HOME PAGE #}

{# ------------------------------------------------------- #}

{% import "templates/partials/cards/article-cards.html" as articles %}

{% import "templates/partials/cards/project-cards.html" as projects %}

{% import "templates/partials/guideposts.html" as guideposts %}

{% extends "templates/partials/base.html" %}

{% block body_attributes %}{% endblock %}

{% block content %}

    {# DECK  #}

    {% include "templates/partials/deck.html" %}

    <section id="site-introduction" class="block bg-white padded">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h2 class="centered">See the Projects and read the Articles that are Rewriting the Library at Olin</h2>
                </div>
            </div>
        </div>
    </section>

    {% if cms.about.featured_project %}

        {{ projects.featured_card( cms.about.featured_project ) }}

    {% endif %}

    {% if cms.about.featured_project %}

        {{ articles.featured_card( cms.about.featured_article ) }}

    {% endif %}

    {{ guideposts.callout() }}

{% endblock %}


{% block scripts_extra %}

    {# Any relevant scripts for this templates functionality may be included as script tags here.  #}

    {# These files will be minified and included at the end of the document, after any other script tags have been included.  #}

{% endblock %}