.article-card-title-limited{
	max-width:60%;
}

.article-card-date {
	@extend .din-medium;
}


.article-author-name{
	position: relative;
	top:7px;
}

.article-card {

	&:hover {

		a {
			color: $dark !important;
		}

		.tag h4, .tag h5 {

			background-color: $brand;

		}

		.tag {

			border-color: $brand;

		}

		.border-bottom {
			//border-color: $brand;
		}

	}

}

@media ($lg-query) {

	.article-author-name { top:16px; }

}


@media ($md-query) {

	.article-author-name { top:16px; }

}

@media ($sm-query) {

	.article-author-name { top:8px; }

}
