

/********** @GLOBALS *********/

$tag-button-padding: 8px 17px 10px 17px;
$tag-button-padding-small: 5px 12px 7px 12px;
$tag-padding: 6px 15px 8px 15px;
$tag-skew: -15deg;

.row .row{
	margin-left: -5px;
	margin-right: -5px;
}


a{
	@include transition(all, .125s);


}

	.sync:hover {
		border-bottom: 3px solid $brand;
	}

a:focus{
	color: $dark;
}

.border-bottom{
	border-bottom: 3px solid $dark;

	&.thick{
		border-bottom-width: 6px;
	}

	&.thin{
		border-bottom-width: 2px;
	}
}

.border-top{
	border-top: 3px solid $dark;

	&.thick{
		border-top-width: 6px;
	}

}

.border-bottom-brand{
	border-bottom: 3px solid $brand;
}

.border-bottom-light{
	border-bottom: 3px solid $light;
}

a.border-bottom:hover{
	border-bottom-color: $brand;
}

.bordered{
	border: 3px solid $dark;
}

.tag{
	@extend .border-bottom;
	@include transition(all,.125s);
	z-index:250;

	h4,h5{
		display: inline-block;
		background: $dark;
		@include transform(skew($tag-skew));
		padding: $tag-padding;
		color: white;
		margin: 0;
		margin-left: 3px;
		position: relative;
		top: 3px;	
		text-transform: uppercase;	
		letter-spacing: .05em;	
		@include transition(all,.125s);
		line-height: 1.5;			
	}

	&.tag-white{
		border-bottom-color: white;
		h4,h5{
			background: white;
			color: $dark;	
		}
	}
}

.tag-button{
	@include transform(skew($tag-skew));
	z-index:250;

	a{
		padding: $tag-button-padding;
		background: $light;
		@extend .h4;
		margin: 0;
		text-transform: uppercase;	
		letter-spacing: .05em;	
		@include transition(all,.125s);
		line-height: 1.5;
		border:none;

		&:hover{
			background: $brand;
			color: white !important;			
		}
	}

	&.tag-button-brand{

		a{
			background: $brand;
			color: white !important;

			&:hover{
				color: $brand !important;
				background: $light;
			}			
		}

	}

}

.tag-button-small{
	z-index:250;

	a{
		padding: $tag-button-padding-small;
		@extend .h6;
		margin: 0;
		letter-spacing: .05em;	
		line-height: 1.3;
	}
}


/********** @CARDS *********/

.card{
	a:hover{
		color: $dark;

		.tag{
			border-bottom-color: $brand;
			h4,h5{
				background: $brand;
				color: white;
			}
		}
	}
}

.article-card-date{
	margin-right: 15px;
	position: relative;
	top: 10px;	
}

.article-card-author{
	margin-right: 10px;
}

.card-metadata{

	h5{
		margin: .8em 0;
		@extend .din-regular;
	}

	.icon{
		top: -5px;
	}

}

// .person-card-stats{
// 	margin-top: .6em;
// 	margin-bottom: 0;
// }


/********** @HEADER *********/

#header-olin{
	height: $header-height;

	img{
		width: 170px;
		margin-top: 13px;
	}
}

#header-rwtl{
	position: absolute;
	width: 100%;
	height: $header-height;
	top: $header-height;
	@extend .border-top;
	
	left: 0;
	z-index: 7;
	@include transition(position,.125s);


	&.fixed{
		position: fixed;
		top: 0;

	}

	a{
		margin-top: 14px;
		display: block;

		&:hover{
			color: $dark;

			span{
				border-bottom-color: $brand;
				color: $brand;
			}
		}

		span{
			@include transition(all,.125s);
			@extend .border-bottom;
			@extend .din-medium;
			text-transform: uppercase;
			padding-bottom: 3px;
		}
	}
}

// .header-white{
// 	#header-rwtl{
// 		border-top-color: white;

// 		a{
// 			color: white;
			
// 			&:hover{
// 				color: white;

// 				span{
// 					border-bottom-color: $brand;
// 					color: $brand;
// 				}
// 			}

// 			span{
// 				border-bottom: 3px solid white;
// 			}
// 		}
// 	}
// }


/********** @MENUS AND MODALS *********/


body.modal-open{
	overflow: hidden;
}

.header-after{
	menu{
		padding-top: $header-height * 1.5;
	}
}

menu{
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.95);
	margin: 0;
	padding: 0;
	padding-top: $header-height * 2.5;
	@include transition(transform,.75s);
	@include transform(rotateX(-180deg));
	transform-origin: 0 0;
	overflow: scroll;

	.container{
		position: relative;
		z-index: 10;
	}

	&.open{
		@include transform(translate(0,0));
		@include transform(rotateX(0));
	}

	li{
		line-height: 4;

		a{
			padding-bottom: 2px;
			border-bottom: 3px solid transparent;
			@extend .din-medium;

			&:hover{
				color: $brand;
				border-bottom: 3px solid $brand;				
			}

			&.active{
				border-bottom: 3px solid $dark;
			}
		}

		ul{
			margin-bottom: 3em;
		}

		li{
			line-height: 2.5;

			a{
				@extend .din-regular;

				&.active{
					border-bottom: 2px solid $dark;
				}

				&:hover{
					border-bottom-color: transparent;
				}				
			}

		}
	}

}

#menu-close{
	position: relative;
	top: 20px;
	.icon:before{
		font-size: 28px;
	}
}

.blanket{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}



/********** @MAIN *********/

main{
	//padding-top: $header-height;
}

.container-fluid{
	padding: 0 30px;
}



/********** @GUIDEPOST *********/

 .guidepost-sign{
	min-height: 60px;
 }



/********** @FOOTER *********/

#footer{
	*{
		color: $light;
	}

	h4{
		padding-bottom: 1em;
		border-bottom-width: 5px;
	}

	li{
		height: 45px;

		a{
			border-bottom: 2px solid transparent;
			
			&:hover{
				border-bottom: 2px solid $light;
			}

			&.brand:hover{
				border-bottom: 2px solid $brand;		
			}
		}
	}

	a.brand{
		color: $brand;
	}
}


/********** @HERO *********/

.container{
	//height: inherit;
}

.hero-title{

	span{
		border-bottom: 5px solid $dark;	
	}
}


/********** @HERO *********/

.filter-nav{


	li{
		display: inline-block;
		margin-right: .5em;
		@extend .tag-button;
		@extend .tag-button-small !optional;
		margin-bottom: 1em;

		.active{
			background: $dark;
			color: white;
		}

		a{
			display: block;
			@extend .h6;
			@extend .din-regular;

			&:hover{
				background: $brand;
				color: white;
			}			
		}
	}
}


/********** @FILTER NAV *********/

$nav-fixed-height: 120px;

#nav{
	//height: $nav-fixed-height;
}

.filter-nav{

	&.fixed{
		padding-top: 1em;
		//background: rgba(255,255,255,.75);

		h6{
			display: none;
		}

		position: fixed;
		top: $header-height;
		left: 0;
		width: 100%;
		z-index: 7;
	}
}

/******** @OVERLAY *********/
#load-overlay {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: $light;
	z-index:1000;
}


