
.project-card{

	//outline: 1px solid $dark;

	margin-bottom: 3em;

	&:nth-child(even){
		@extend .col-sm-offset-1 !optional;
	}

	.card-metadata{
		h5{
			margin: 1em 0;
		}
	}

	&.project-card-expanded{
		padding: 30px 60px 0 60px;
	}

	.project-card-space{
		width: 33%;
		position: absolute;
		left: 30px;
		top: 0;
		z-index: 0;
	}

	.project-card-image{

		@include transition(all, .125s);

		position: relative;
		z-index: 1;

		img {
			@extend .bordered;
		}

	}

	&:hover {

		.tag h4, .tag h5 {
			background-color: $brand;
		}

		.tag {
			border-color:$brand;
		}

		.project-card-image img {


			border-color: $brand;

		}

	}

	.svg-shape {
		fill: $light;
	}
}


.project-tag{
	position: relative;
	top: -100%;
	//left:2px;
	width: 100%;
	border-bottom: none !important;

	h4{
		font-size: 1.1em;
	}
}

.project-title-tag {
	position: absolute;
	bottom: 0 !important;
	width: 100%;

	h4{
		font-size: 1.1em;
	}
}

.project-space {
	position:absolute;
	z-index:-250;

	top:8%;
	left:1%;	
	
	fill: $light;
}

