

/********** @RESPONSIVE *********/


//sm and up
@media (min-width: 768px) {

	
	
}	

//lg
@media ($lg-query) {



}

//md
@media ($md-query) {

	#deck-nav{
		height: 250px;
		padding: 30px 60px 30px 60px;
	}

	#deck-slick{
		button{
			bottom: -60px;
			left: 20px;
			width: 20px;
			height: 20px;

			&.slick-next{
				right: 30px !important;
			}
		}
	}


}

//sm
@media ($sm-query) {

	.project-card{

		&.project-card-expanded{
			padding: 30px 20px 0px 20px;
		}

		.project-card-space{
			left: 0;
		}
	}

} 

//xs
@media ($xs-query) {

	.row .row{
		margin-left: 0px;
		margin-right: 0px;
	}		

	#deck{
		padding-top: 20px;
	}	

	menu{
		padding-top: $header-height;
	}

	#deck-nav{
		li{
			border: none !important;
			a{
				border: 2px solid $medium;
				content: '.';
			}
		}
	}

	.deck-slide{
		.slide-text{
			width: 90%;
		}
	}		

	.guidepost-sign{
		a{
			font-size: 16px;
		}
	}

	#footer{

		li{
			height: 30px;
		}

	}

	.space-card{
		.space-card-plan{
			padding: 0px 10px;
		}
	}


}


//short screens
@media (max-height: 700px) {

	#deck{
		padding-top: 20px;
	}

}



