.space-card{
	.space-card-plan{
		padding: 50px;
	}

	.space-card-contents-caption{
		margin-top: .5em;
	}

	.space-card-contents-heading{
		margin-bottom: .5em;
	}
}

#space-clipped-image {
	height:500px;
	width: 100%;
	opacity: .25;

	overflow:hidden;
}

#plan-image {
	width:75%;
	position: absolute;
	top: 100px;
	left: 5%;
}


.first-floor-plan {
	width:100%;
}

.ground-floor-plan {
	width:89%
}




/********** @RESPONSIVE *********/


//sm and up
@media (min-width: 768px) {
	
}	

//lg
@media ($lg-query) {


}

//md
@media ($md-query) {


}

//sm
@media ($sm-query) {


	#plan-image {
		width:300px;
		position: absolute;
		top: 100px;
		left: 15%;
	}

} 

//xs
@media ($xs-query) {


	#space-clipped-image {
		height:250px !important;
	}	


}


//short screens
@media (max-height: 700px) {

}



