@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('modernpictogramspro_234.eot');
    src: url('modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('modernpictogramspro_234.woff') format('woff'),
		url('modernpictogramspro_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "ModernPictograms";
	src: url('modernpictogramspro_2-webfont.eot');
	src: url('modernpictogramspro_2-webfont.eot?#iefix') format('opentype'),
		url('modernpictogramspro_2-webfont.woff') format('woff'),
		url('modernpictogramspro_2-webfont.svg') format('svg');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SimplonNormBold";
	src: url('SimplonNorm-Bold-WebTrial.eot');
	src: url('SimplonNorm-Bold-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-Bold-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SimplonNormBold";
	src: url('SimplonNorm-BoldItalic-WebTrial.eot');
	src: url('SimplonNorm-BoldItalic-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-BoldItalic-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SimplonNormLight";
	src: url('SimplonNorm-Light-WebTrial.eot');
	src: url('SimplonNorm-Light-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-Light-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SimplonNormLight";
	src: url('SimplonNorm-LightItalic-WebTrial.eot');
	src: url('SimplonNorm-LightItalic-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-LightItalic-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SimplonNormLight";
	src: url('SimplonNorm-Light-WebTrial.eot');
	src: url('SimplonNorm-Light-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-Light-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SimplonNormLight";
	src: url('SimplonNorm-LightItalic-WebTrial.eot');
	src: url('SimplonNorm-LightItalic-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-LightItalic-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SimplonNormMedium";
	src: url('SimplonNorm-Medium-WebTrial.eot');
	src: url('SimplonNorm-Medium-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-Medium-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SimplonNormMedium";
	src: url('SimplonNorm-MediumItalic-WebTrial.eot');
	src: url('SimplonNorm-MediumItalic-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-MediumItalic-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SimplonNormRegular";
	src: url('SimplonNorm-Regular-WebTrial.eot');
	src: url('SimplonNorm-Regular-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-Regular-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SimplonNormRegular";
	src: url('SimplonNorm-RegularItalic-WebTrial.eot');
	src: url('SimplonNorm-RegularItalic-WebTrial.eot?#iefix') format('opentype'),
		url('SimplonNorm-RegularItalic-WebTrial.woff') format('woff');

	font-weight: normal;
	font-style: italic;
}

/********** @TYPOGRAPHY *********/

body{
	font-size: 16px;
	font-family:"SimplonNormLight", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:normal;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	font-weight: normal;
	line-height: 1.5em;
	font-weight: 500;
}

h1,.h1{
	font-size: 3em;
	line-height: 1.5em;
}

h2,.h2{
	font-size: 2em;
	line-height: 1.5em;
}

h3,.h3{
	font-size: 1.6em;
}

h4,.h4{
	font-size: 1.25em;
}

h5,.h5{
	font-size: 1em;
}

h6,.h6{
	font-size: .8em;
}

p{
	font-size: 1em;
	line-height: 1.6;
}

.back-to-home {
	@extend .brand;
	@extend .bold;
	@extend .uppercase;
}

//lg
@media (min-width: 1200px) {
	body{
		font-size: 18px;
	}
}

//md
@media (max-width: 1200px) {
	body{
		font-size: 16px;
	}
}

//sm
@media (max-width: 992px) {
	body{
		font-size: 14px;
	}

	// h1,.h1{
	// 	font-size: 2.5em;
	// }

	// h2,.h2{
	// 	font-size: 1.25em;
	// }

	// h3,.h3{
	// 	font-size: 1.1em;
	// }

} 

//xs
@media (max-width: 767px) {
	body{
		font-size: 16px;
	}

	// h1,.h1{
	// 	font-size: 2em;
	// }

	// h2,.h2{
	// 	font-size: 1.25em;
	// }

	// h3,.h3{
	// 	font-size: 1.1em;
	// }

	// h4,.h4{
	// 	font-size: 1em;
	// }

	// h5,.h5{
	// 	font-size: 1em;
	// }

	// h6,.h6{
	// 	font-size: .9em;
	// }

}


/********** @FORMATTING *********/

.uppercase{
	text-transform: uppercase;
}

.underline{
	border-bottom:2px solid $light;
}

@include size-dependent( '.centered' ) {
	text-align: center;
}

@include size-dependent( '.righted' ) {
	text-align: right;
}

@include size-dependent( '.lefted' ) {
	text-align: inherit;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.white{
	color: white;
}

.light {
	color: $light;
}

.dark{
	color: $dark;
}

.brand{
	color: $brand;
}

@include size-dependent( ".righted" ) {
	text-align: right;
}

@include size-dependent( ".centered" ) {
	text-align: center;
}

/********** @ICONS *********/

.icon{
	&:before {
    content: attr(data-icon);
    font-family: "modern_pictograms_proregular";
	font-size: 30px;
	line-height: 100%;
	vertical-align: middle;
	position: relative;	
	}
	
	&.large:before{
		font-size: 72px;
	}

}