@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('../fonts/modernpictogramspro_234.eot');
    src: url('../fonts/modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('../fonts/modernpictogramspro_234.woff') format('woff'),
		url('../fonts/modernpictogramspro_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/********** @TYPOGRAPHY *********/

body{
	font-size: 16px;
	font-family:"DinPro", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:normal;
	color: $dark;
}

.din-regular{
	font-weight: 400;
}

.din-medium{
	font-weight: 500;
}

.din-bold{
	font-weight: 700;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	font-weight: normal;
	line-height: 1.2em;
	font-weight: 500;
	letter-spacing: -.01em;
}

h1,.h1{
	font-size: 3em;
}

h2,.h2{
	font-size: 2em;
}

h3,.h3{
	font-size: 1.25em;
}

h4,.h4{
	font-size: 1em;
}

h5,.h5{
	font-size: .85em;
}

h6,.h6{
	font-size: .75em;
}

p{
	font-size: 1em;
	line-height: 1.4;
}


.icon{
	&:before {
    content: attr(data-icon);
    font-family: "modern_pictograms_proregular";
	font-size: 27px;
	line-height: 100%;
	vertical-align: middle;
	position: relative;	
	}
	
	&.large:before{
		font-size: 72px;
	}

}


//lg
@media (min-width: 1200px) {
	body{
		font-size: 18px;
	}
}

//md
@media (max-width: 1200px) {

	
}

//sm
@media (max-width: 992px) {
	
	body{
		font-size: 14px;
	}

	h1,.h1{
		font-size: 2em;
	}

	h2,.h2{
		font-size: 1.5em;
	}

	h3,.h3{
		font-size: 1.25em;
	}

} 

//sm
@media (max-height: 700px) {
	
	body{
		font-size: 14px;
	}



} 

//xs
@media (max-width: 767px) {
	body{
		font-size: 14px;
	}

	.icon{

		&:before{
			font-size: 22px;
		}
		
		&.large:before{
			font-size: 48px;
		}

	}


}


/********** @FORMATTING *********/

.uppercase{
	text-transform: uppercase;
}

.underline{
	border-bottom:2px solid $light;
}

@include size-dependent( '.centered' ) {
	text-align: center;
}

@include size-dependent( '.righted' ) {
	text-align: right;
}

@include size-dependent( '.lefted' ) {
	text-align: left;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.white{
	color: white;
}

.light {
	color: $light;
}

.dark{
	color: $dark;
}

.medium{
	color: $medium;
}

.brand{
	color: $brand;
}

@include size-dependent( ".righted" ) {
	text-align: right;
}

@include size-dependent( ".centered" ) {
	text-align: center;
}



