/********** @VARIABLES *********/

$brand: #10A879;

$white: #ffffff;
$ultra-light: #fafafa;
$light: #efefef;
$medium: #777777;
$dark: #2B2B2B;

$nav-height: 75px;
$mobile-margins: 15px;

$transition-duration: .75s;


$lg-size: 1201px;
$lg-query: "min-width: #{ $lg-size }";

$md-size: 1200px;
$md-query: "max-width: #{$md-size}";

$sm-size: 992px;
$sm-query: "max-width: #{$sm-size}";

$xs-size: 767px;
$xs-query: "max-width: #{ $xs-size }";
